<article class="card" style="margin: 20px 0; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px;">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <h2>{{this.userName}}</h2> <!-- Aquí se muestra el nombre de la publicación -->
    <div class="galeria" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); gap: 20px; justify-items: center; align-items: center;">
        {{#each this.Imagen}} <!-- Asume que el campo es Imagen -->
            <a href="/Publicaciones/artesymas/{{this}}" data-lightbox="galeria" data-title="Imagen de la publicación">
                <img src="/Publicaciones/artesymas/{{this}}" alt="Imagen de la publicación" style="width: 400px; height: 400px; object-fit: cover; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
            </a>
        {{/each}}
        <p>Teléfono: {{this.user.telefono}}</p> <!-- Aquí se muestra el número de teléfono -->
      <a href="https://wa.me/{{this.user.telefono}} " target="_blank">Enviar mensaje a {{this.user.userName}}</a>
    </div>
</article>
